<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeCadN.open_ordini.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.findprice.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.evesync.YA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.kommunikacii.kommunikacii_Set" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.kommunikacii.kommunikacii" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.Properties.Settings_AT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.Properties.Proxy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.Properties.Update" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.Properties.Settings_lic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeCadN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WpfApplication1.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <TreeCadN.open_ordini.Settings1>
      <setting name="path" serializeAs="String">
        <value />
      </setting>
      <setting name="Top" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="SizeToContent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="last_vibor" serializeAs="String">
        <value />
      </setting>
      <setting name="spisotobrstolb" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="spisindex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="spiswidth" serializeAs="String">
        <value>1</value>
      </setting>
    </TreeCadN.open_ordini.Settings1>
    <TreeCadN.findprice.Settings1>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="SizeToContent" serializeAs="String">
        <value>0</value>
      </setting>
    </TreeCadN.findprice.Settings1>
    <TreeCadN.evesync.YA>
      <setting name="OAuth" serializeAs="String">
        <value />
      </setting>
      <setting name="isSave" serializeAs="String">
        <value>False</value>
      </setting>
    </TreeCadN.evesync.YA>
    <TreeCadN.kommunikacii.kommunikacii_Set>
      <setting name="Top" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="SizeToContent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tab1sel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lb2sel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="lb3sel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="lb1sel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="lb4sel" serializeAs="String">
        <value>-1</value>
      </setting>
    </TreeCadN.kommunikacii.kommunikacii_Set>
    <TreeCadN.kommunikacii.kommunikacii>
      <setting name="Top" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="SizeToContent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tb1sel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="lb2sel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="lb3sel" serializeAs="String">
        <value />
      </setting>
    </TreeCadN.kommunikacii.kommunikacii>
    <TreeCadN.Properties.Settings_AT>
      <setting name="Top" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="SizeToContent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="kolonki" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;100;100;100;100;100;</value>
      </setting>
    </TreeCadN.Properties.Settings_AT>
    <TreeCadN.Properties.Proxy>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
      <setting name="server" serializeAs="String">
        <value />
      </setting>
      <setting name="vkl" serializeAs="String">
        <value>False</value>
      </setting>
    </TreeCadN.Properties.Proxy>
    <TreeCadN.Properties.Update>
      <setting name="poslproch" serializeAs="String">
        <value />
      </setting>
    </TreeCadN.Properties.Update>
    <TreeCadN.Properties.Settings_lic>
      <setting name="mod" serializeAs="String">
        <value>0000000</value>
      </setting>
    </TreeCadN.Properties.Settings_lic>
    <TreeCadN.Properties.Settings>
      <setting name="Top1" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Top2" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tabControl1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width2" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Height2" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SizeToContent1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColumnDefinitions1" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="Top3" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="Left3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejim" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width3" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Height3" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SizeToContent3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height4" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Width4" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SizeToContent4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top4" serializeAs="String">
        <value>-100</value>
      </setting>
    </TreeCadN.Properties.Settings>
    <WpfApplication1.Properties.Settings>
      <setting name="Top1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Top2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tabControl1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width2" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Height2" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SizeToContent1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColumnDefinitions1" serializeAs="String">
        <value>250</value>
      </setting>
    </WpfApplication1.Properties.Settings>
    <WpfApplication1.Properties.Settings1>
      <setting name="history1" serializeAs="String">
        <value />
      </setting>
      <setting name="history2" serializeAs="String">
        <value />
      </setting>
      <setting name="history3" serializeAs="String">
        <value />
      </setting>
      <setting name="history4" serializeAs="String">
        <value />
      </setting>
      <setting name="history5" serializeAs="String">
        <value />
      </setting>
      <setting name="zakladka1" serializeAs="String">
        <value />
      </setting>
      <setting name="zakladka2" serializeAs="String">
        <value />
      </setting>
      <setting name="zakladka3" serializeAs="String">
        <value />
      </setting>
      <setting name="zakladka4" serializeAs="String">
        <value />
      </setting>
      <setting name="zakladka5" serializeAs="String">
        <value />
      </setting>
    </WpfApplication1.Properties.Settings1>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>